<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support NoHush: Donate Today</title>
    <style>
        body {
            font-family: monospace;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        h1, h2 {
            text-align: center;
        }
        p {
            line-height: 1.6;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Support NoHush</h1>
        <p>We rely on the support of our community to maintain and expand the NoHush platform. Your generous contributions help us cover operational costs, such as domain registration, hosting services, and platform development.</p>
        <p>Your donations play a crucial role in sustaining our mission to foster open discourse and promote freedom of expression. Every contribution, no matter how small, helps us continue our efforts to provide a platform for meaningful dialogue.</p>
        <p>We are deeply grateful for your support. Together, we can keep NoHush thriving and accessible to all.</p>
        <h3>BTC:</h3>
        <p>bc1q9rqzn63n72y0v4ftjqw0tydrjyzltaavk4as2n </p>
        <h3>ETH:</h3>
        <p>0x1dB941C6Be0CC504acAdfBCf304C7A3aCae15f85 </p>
    </div>
</body>
</html>

