<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoHush</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <center> <h1>NoHush</h1>
    <h4>The first duty of a totalitarian regime is to control the media. Without control, the regime cannot control its people.</h4>
    <ul>
        {% for topic in topics %}
        <li>=> <a href="{{ url_for('topic', topic_name=topic['name']) }}">{{ topic['name'] }}</a> <=</li>
        {% endfor %} </ul>
       <center> <a href="{{ url_for('legal_page') }}">Legal</a></li>
        | <a href="{{ url_for('donate_page') }}">Donate</a></li>

</body>
</html>
