{% extends 'base.html' %}

{% block content %}
<h2>Comments</h2>
<div class="post">
    <p>{{ post['message'] }}</p>
    <p class="meta">Posted by {{ post['user_id'] }}</p>
</div>
<form method="post" action="{{ url_for('post', message_id=post['message_id']) }}">
    <label for="comment">Add a Comment:</label>
    <textarea id="comment" name="comment" required></textarea>
    {% if ENABLE_TURNSTILE %}
    <div class="cf-turnstile" data-sitekey="YOUR_SITE_KEY"></div>
    {% endif %}
    <button type="submit">Post Comment</button>
</form>
<div id="comments">
    {% for comment in post['comments'] %}
    <div class="comment">
        <p>{{ comment['comment'] }}</p>
        <p class="meta">Posted by {{ comment['user_id'] }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
