{% extends 'base.html' %} {% block content %}
<div class="topic-name">
    <h2 class="topic-heading">{{ topic_name.capitalize() }}</h2>
    <div class="separator"></div>
    <h4 class="topic-desc">Regular everyday discussions.</h4>
</div>
<form class="post-form" method="post" action="{{ url_for('topic', topic_name=topic_name) }}">
    <label for="message">Post a Message:</label>
    <textarea id="message" name="message" required placeholder="Share your original ideas and thoughts. No Censorship. Min 20 characters, Max 500."></textarea>
    {% if ENABLE_TURNSTILE %}
    <div class="cf-turnstile" data-sitekey="YOUR_SITE_KEY"></div>
    {% endif %}
    <button type="submit">Post</button>
</form>

<div class="posts-header">
    <div class="separator"></div>
    <h3>Latest Posts</h3>
    <div class="separator"></div>
</div>

<div id="posts">
    {% for post in posts %}
    <div class="post">
        <span class="meta">Posted by {{ post['user_id'] }} | 22nd Aug 2024</span>
        <p class="msg">{{ post['message'] }}</p>
        <div class="interactions">
            <button>🙂</button>
            <button>☹️</button>
            <a href="{{ url_for('post', message_id=post['message_id']) }}">View Comments (5)</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
