/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap');

/* Base Styles */
body {
    font-family: 'Reddit Sans', sans-serif;
    font-size: 20px;
    line-height: 1.45;
    margin: 0 auto;
    max-width: 45rem;
    padding: 15px;
    background-color: #f6f7f8;
    color: #333333;
}

h1 {
    margin-bottom: 5px;
    color: #333333;
}

a:link, a:visited {
    font-weight: bold;
    color: #ff6b6b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container Styles */
.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-id, .date {
    font-size: 12px;
    margin-bottom: 5px;
    color: #888888;
}

.message, .comment-text {
    word-break: break-word;
    margin-bottom: 10px;
}

.view-comments a {
    font-size: 17px;
    color: #ff6b6b;
    text-decoration: none;
}

/* Textarea Styles */
textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Reddit Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    height: auto;
    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #888;
}

/* Button Styles */
button
{
    font-size:17px;
    display: inline-block;
    font-family: 'Reddit Sans',sans-serif ;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 2px black;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6b6b;
    color: black;
}

/* Navigation Styles */
nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ff6b6b;
    padding: 5px 10px;
    border: 2px solid #ff6b6b;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ff6b6b;
    color: #ffffff;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Mobile Responsive Styles */
@media (max-width: 480px) {
    body {
        padding: 10px;
        font-size: 17px;
    }

    .box {
        padding: 10px;
    }

    button, nav a {
        font-size: 17px;
    }

    h1 {
        font-size: 30px;
    }

    .user-id, .date {
        font-size: 10px;
    }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1b;
        color: #d7dadc;
    }

    h1 {
        color: #d7dadc;
    }

    a:link, a:visited {
        color: #ff6b6b;
    }

    .box {
        background-color: #272729;
        border: 1px solid #343536;
    }

    textarea {
        background-color: #272729;
        color: #d7dadc;
        border: 1px solid #343536;
    }

    textarea::placeholder {
        color: #888;
    }

    button {
        background-color: rgba(255, 255, 255, 0.2);
        color: #d7dadc;
    }

    button:hover {
        background-color: #ff6b6b;
        color: #fff;
    }

    nav a {
        color: #ff6b6b;
        background-color: #272729;
        border: 2px solid #ff6b6b;
    }

    nav a:hover {
        background-color: #ff6b6b;
        color: #ffffff;
    }

    .user-id, .date {
        color: #888;
    }
}
